<!--
© Siemens AG, 2018
Author: Berkay Alp Cakal (berkay_alp.cakal.ct@siemens.com)

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
<http://www.apache.org/licenses/LICENSE-2.0>.
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
	<arg name="image_topic" default="/team220/camera/rgb/compressed"/>
  <arg name="weight_path" default="$(find mobilenet)/model/weight_dira.h5"/>

  <node name="carcontrol_param_loader" pkg="dynamic_reconfigure" type="dynparam" 
        args="load /carcontrol $(find cds_msgs)/params/carcontrol.yaml" />
  <node name="detectobject_param_loader" pkg="dynamic_reconfigure" type="dynparam" 
        args="load /detectobject $(find cds_msgs)/params/detectobject.yaml" />
  <node name="lanedetect_param_loader" pkg="dynamic_reconfigure" type="dynparam" 
        args="load /lanedetect $(find cds_msgs)/params/lanedetect.yaml" />
  <node name="planning_param_loader" pkg="dynamic_reconfigure" type="dynparam" 
        args="load /planning $(find cds_msgs)/params/planning.yaml" />
  <node name="sign_detect_param_loader" pkg="dynamic_reconfigure" type="dynparam" 
        args="load /sign_detect $(find cds_msgs)/params/sign_detect.yaml" />

  <node pkg="mobilenet" type="mobilenet_node.py" name="mobilenet_node" output="screen">
      <param name="image_topic" value="$(arg image_topic)" />
      <param name="weight_path" value="$(arg weight_path)" />
      <param name="use_deep" value="true" />
      <!-- <param name="use_deep" value="false" /> -->
      <param name="ready" value="false" />
  </node>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>

  <node name="lane_detect" pkg="lane_detect" type="lane_detect" output="screen" args="_image_transport:=compressed" />
  <node name="sign_detect" pkg="signdetect" type="signdetect_node" output="screen" args="_image_transport:=compressed" />

</launch>